@import "~bootstrap/scss/bootstrap";

$brand: #72ddf9;
$brand-pale: #49aec7;
$brand-dark: #4198ad;

.navbar{
  margin-bottom: 20px;
}

.header-bar{
  width: 100%;
  text-align: left;
  &__stock{
    margin-bottom: 0px;
    float: right;
  }
  img{
    margin-right: 10px;
  }
  span{
    color: $brand
  }
}

.stocks-list, .stocks-details{
  max-width: 700px;
  margin: auto;
  padding: 10px 0px;
  .button-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    h1{
      margin: 0px;
      font-size: 30px;
    }
  }
}

.login-container{
  max-width: 500px;
  margin: auto;
  button{
    width: 100%;
  }
}

.btn-primary{
  background-color: $brand-pale;
  border-color: $brand-pale;
  &:hover, &:active, &:focus{
    background-color: $brand-dark;
    border-color: $brand-dark;
  }
}

.request-error{
  margin-top: 20px;
}